.home,
.links,
.gallery
{
    display: inline;
}

a
{
    color: #fff;
    text-decoration: none;
}

main > a:hover
{
    border-bottom: 1px dashed #008B8B;
}

a:visited
{
    color: #fff;
}

a:active
{
    color: #c0c0c0;
}

.home,
.links
{
    border: 1px solid gray;
}

.gallery
{
    background-color: #008B8B; 
}

.home:hover,
.gallery:hover,
.links:hover
{   

    background-color: #800080;
}

header
{
    font-family: segoe script, segoe print, gabriola;
    font-size: 150%;
}

body
{
    color: #fff;
    background-color: #000;
    margin: 0;
}

main
{
    margin: 100px;
    font-family: segoe script, segoe print, gabriola;
    font-size: 150%;
    height: 80%;
}

footer
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-align: right;
}

hr
{
    margin: 0;
    border-color: gray;
}